# LIBRERIAS

In [4]:
import pandas as pd # pip install pandas

# Cargar Datos

In [5]:
df = pd.read_csv("./dataset.csv")
df.head(5)

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44â€¦,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! ðŸ™Œ,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [6]:
df.describe()

,id,favorites,retweets,mentions,followers,followees
count,27.000000,26.000000,26.000000,26.000000,26.000000,27.000000
mean,183734.000000,280.538462,80.000000,15.423077,352.807692,1190.185185
std,7.937254,153.377242,40.303846,9.596554,375.319493,1965.735995
min,183721.000000,23.000000,21.000000,1.000000,12.000000,129.000000
25%,183727.500000,139.250000,45.500000,8.250000,21.000000,258.000000
50%,183734.000000,305.500000,79.000000,16.000000,332.000000,351.000000
75%,183740.500000,422.500000,110.750000,23.500000,389.000000,1822.000000
max,183747.000000,500.000000,146.000000,29.000000,982.000000,9918.000000